
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background:#091921;
}

h2 {
    padding: 50px;
    color: aliceblue;
    padding-bottom: 10px;
}

.mainBody{
	display: flex;
	justify-content:center;
	align-items:center;
	min-height: 80vh;
}

.calculator {
	position: relative;
	display: grid;
}

.calculator .design{
	grid-column: span 4;
	height:100px;
	text-align:right;
	border:none;
	outline:none;
	padding:10px;
	font-size:18px;
}

.calculator span{
	display:grid;
	width: 62px;
	height:60px;
	color: #fff;
	background:#0c2835;
	place-items:center;
	border: 1px solid rgba(0,0,0,.1);
	cursor:pointer;
}

.calculator span:active{
	background:#74ff36;
	color:#111;
}

.calculator span.clear{
	grid-column:span 2;
	width: 124px;
	background: #ff3077;
}

.calculator span.plus{
	grid-row:span 2;
	height: 120px;
}
.calculator span.equal{
	background:#0361ff;
}